.App {
  margin: 0;
  box-sizing: border-box;
}
.listTitle {
  text-align: center;
  font-size: 16px;
  margin-top: 30px;
}
.PokeList {
  list-style-type: none;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
.poke-card {
  background-color: rgb(223, 238, 233);
  border: solid 1px;
  border-radius: 5%;
  width: 100px;
  margin: 5px;
}
.poke-name {
  border: solid 1px;
  font-size: 14px;
  text-align: center;
}
.poke-typesList {
  background-color: rgb(223, 238, 233);
  list-style-type: none;
  font-size: 10px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.poke-type {
  background-color: rgb(78, 74, 74);
  padding: 2px;
  border-radius: 20%;
  color: white;
  text-align: left;
}
